<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html" xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
            crossorigin="anonymous"></script>
    <title>Admin</title>
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-heading">
                <div class="p-3 text-white bg-dark border border-primary-subtle rounded-1">
                    <td th:text="${user.getUsername()}"> VALUE</td>
                    <td>:with roles</td>
                    <td th:each="role,iterStat : ${user.getRoles()}"
                        th:text="${role} + ${!iterStat.last ? ', ' : ''}">VALUE
                    </td>
                    <a href="/logout" class="text-white-50 bg-dark" style="float:right;"> Logout</a>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-2 bg-white">
            <div id="simple-list-example" class="d-flex flex-column gap-2 simple-list-example-scrollspy text-center">
                <a href="/admin" class="text-decoration-none link-dark">Admin</a>
                <div class="p-3 text-white bg-primary border border-primary-subtle rounded-1">User</div>
            </div>
        </div>
        <div class="col-10 bg-light">
            <div class="table table-responsive">
                <table class="table table-striped">
                    <h1>User information page</h1>
                    <div class="card border-dark-subtle text-white">
                        <h3>
                            <div class="card-header border-dark-subtle bg-light text-dark">About admin</div>
                        </h3>

                        <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">FirstName</th>
                            <th scope="col">LastName</th>
                            <th scope="col">Age</th>
                            <th scope="col">Email</th>
                            <th scope="col">Role</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td th:text="${user.getId()}"></td>
                            <td th:text="${user.getName()}"></td>
                            <td th:text="${user.getLastName()}"></td>
                            <td th:text="${user.getAge()}"></td>
                            <td th:text="${user.getUsername()}"></td>
                            <td>
                               <span th:each="role,iterStat : ${user.getRoles()}"
                                     th:text="${role} + ${!iterStat.last ? ', ' : ''}">
                               </span>
                            </td>
                        </tr>
                    </div>
                </table>
            </div>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.7/dist/umd/popper.min.js"
        integrity="sha384-zYPOMqeu1DAVkHiLqWBUTcbYfZ8osu1Nd6Z89ify25QV9guujx43ITvfi12/QExE"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.min.js"
        integrity="sha384-Y4oOpwW3duJdCWv5ly8SCFYWqFDsfob/3GkgExXKV4idmbt98QcxXYs9UoXAB7BZ"
        crossorigin="anonymous"></script>
</body>
</html>